@use "../../base/vars" as *;

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -4%;
  text-transform: uppercase;

  padding: 0 16px;

  @media (max-width: $bp-mobile) {
    font-size: 14px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    max-width: 607px;
    width: 100%;
  }

  &__header {
    display: flex;
    align-items: start;
    justify-content: space-between;

    text-align: center;
  }

  &__main {
  }

  &__contacts {
  }

  &__go-home {
    display: flex;
    justify-content: center;

    margin-top: 32px;
  }
}
.contact-item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
  &__left {
    white-space: nowrap;
  }

  &__dots {
    flex: 1;
    margin: 0 12px;
    border-bottom: 2px dotted #d8d6d6;
    transform: translateY(-0.2em);
  }

  &__right {
    white-space: nowrap;
  }
}
