@use "../vars" as *;

.about {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-bottom: 80px;

    @media (max-width: $bp-mobile) {
      display: block;
    }
  }

  &__content-left {
    margin-top: 40px;
  }
  &__content-right {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    margin-top: 100px;

    @media (max-width: $bp-mobile) {
      margin-top: 40px;
    }

    &_arrow {
      position: absolute;
      left: 0;
      top: -132px;

      @media (max-width: $bp-mobile) {
        display: none;
      }
    }
  }

  &__player {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.profile {
  margin-top: 40px;

  @media (max-width: $bp-desktop) {
    margin-top: 16px;
  }
  @media (max-width: $bp-laptop) {
    margin-top: 20px;
  }
  &__img {
    margin-bottom: 8px;
  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -4%;

    @media (max-width: $bp-desktop) {
      font-size: 14px;
    }
  }
}
