@use "../vars" as *;

.contact {
  background-color: $dark-color;
  transition: background 0.5s ease;

  &__link {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 970px;

    font-size: 48px;
    line-height: 100%;
    letter-spacing: -2%;

    color: #fff;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;

    span {
      display: inline-block;
      transition: transform 0.3s ease, text-shadow 0.3s ease;
    }

    &:hover {
      color: #fff;

      &::before {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background: radial-gradient(
          circle,
          rgba(255, 255, 255, 0.15) 0%,
          transparent 70%
        );
        transform: rotate(45deg) scale(0);
        animation: pulse 1s forwards;
      }

      span {
        transform: scale(1.1);
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.7); // мягкое свечение
      }
    }

    @media (max-width: $bp-desktop) {
      height: 910px;
    }
    @media (max-width: $bp-laptop) {
      height: 1190px;
    }
    @media (max-width: $bp-tablet) {
      height: 910px;
    }
    @media (max-width: $bp-mobile) {
      height: 740px;

      font-size: 32px;
    }
  }
}

@keyframes pulse {
  to {
    transform: rotate(45deg) scale(1);
    opacity: 0;
  }
}
