@use "../vars" as *;
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &__inner {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-top: 40px;

    color: #fff;

    @media (max-width: $bp-mobile) {
      padding-top: 74px;
    }
  }

  &__logo {
    margin-bottom: 26px;
    @media (max-width: $bp-laptop) {
      margin-bottom: 16px;
      max-width: 350px;
    }
    @media (max-width: $bp-mobile) {
      max-width: 171px;
    }
  }

  &__text {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 110.00000000000001%;
    letter-spacing: -4%;
    text-transform: uppercase;

    @media (max-width: $bp-mobile) {
      display: none;
    }
  }

  &__nav {
    display: flex;
    column-gap: 141px;

    @media (max-width: $bp-laptop) {
      column-gap: 80px;
    }

    @media (max-width: $bp-tablet) {
      display: none;
    }
  }
}

.header-nav-list {
  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -2%;

    text-decoration: none;
    color: inherit;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 0;
      background-color: #fff;
      right: 0;
      bottom: -2px;

      transition: all 0.1s ease-in-out;
    }
    &:hover {
      &::before {
        height: 2px;
      }
    }

    &.works {
      span {
        position: absolute;
        top: 0;

        font-size: 10px;
        line-height: 10px;
        letter-spacing: -2%;
      }
    }
  }
}
.header-link {
  display: inline-block;
  position: relative;
  padding: 8px 34px 8px 12px;
  background-color: rgba($color: $dark-color, $alpha: 0.7);
  border-radius: 800px;
  min-width: 114px;

  font-size: 16px;
  line-height: 16px;
  letter-spacing: -4%;

  @media (max-width: $bp-tablet) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;

    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.menu-burger-btn {
  display: none;

  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -4%;
  text-decoration: underline;

  margin-top: 15px;

  @media (max-width: $bp-tablet) {
    display: block;
  }
  @media (max-width: $bp-mobile) {
    margin-top: 0;
  }
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;

  overflow-y: auto;
  padding: 74px 16px 32px;

  background-color: $dark-color;

  top: -100%;
  opacity: 0;
  visibility: 0;
  transition: all 0.2s ease-in-out;

  &._active {
    top: -0;
    opacity: 1;
    visibility: visible;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 51px;
  }

  &__logo {
    max-width: 171px;
  }

  &__close-btn {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -4%;
  }

  &__content {
  }

  .latest-work {
    margin-bottom: 40px;
  }

  &__nav-list {
  }

  &__nav-list-item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__nav-link {
    font-weight: 500;
    font-style: Medium;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -2%;

    color: #333333;
  }
}
