@use "scss/base";
@use "scss/components";
// blocks
@use "scss/blocks/header";
@use "scss/blocks/hero";
@use "scss/blocks/about";
@use "scss/blocks/works";
@use "scss/blocks/services";
@use "scss/blocks/testimonials";
@use "scss/blocks/contact";
