@use "vars" as *;

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  text-align: inherit;
  &:focus {
    outline: none;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $dark-color;

  background-color: #edebeb;
}

._container {
  max-width: 1920px;
  padding: 0 32px;
  margin: 0 auto;

  @media (max-width: $bp-laptop) {
    padding: 0 20px;
  }
  @media (max-width: $bp-mobile) {
    padding: 0 16px;
  }
}

// utils classes
.u-italic {
  font-style: italic;
}
