@use "vars" as *;

// header

.latest-work {
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -4%;

  &__img {
    margin-bottom: 8px;
  }

  &__text-with-bulet {
    position: relative;
    padding-left: 12px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      height: 8px;
      width: 8px;

      border-radius: 50%;
      background-color: #fff;
    }
  }
}

// hero
.ellipsis {
  display: flex;
  align-items: center;
  column-gap: 12px;

  span {
    width: 12px;
    height: 12px;
    background: #fff;
  }

  &.black {
    span {
      background: $dark-color;
    }
  }
}
