@use "vars" as *;

// header

.latest-work {
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -4%;

  &__img {
    margin-bottom: 8px;
  }

  &__text-with-bulet {
    position: relative;
    padding-left: 12px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      height: 8px;
      width: 8px;

      border-radius: 50%;
      background-color: #fff;
    }
  }
}

// hero
.ellipsis {
  display: flex;
  align-items: center;
  column-gap: 12px;

  span {
    width: 12px;
    height: 12px;
    background: #fff;
  }

  &.black {
    span {
      background: $dark-color;
    }
  }
}

// all

.section-block {
  padding-top: 40px;
  padding-bottom: 40px;

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__number {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 32px;
    border: 1px solid $dark-color;
    border-radius: 800px;
  }

  &__name {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 32px;
    border: 1px solid $dark-color;
    border-radius: 800px;
  }

  &__center {
    display: none;

    @media (max-width: $bp-mobile) {
      display: block;
    }
  }
}

.main-title {
  position: relative;
  font-size: 140px;
  line-height: 100%;
  letter-spacing: -4%;

  @media (max-width: $bp-desktop) {
    font-size: 120px;
  }
  @media (max-width: $bp-laptop) {
    font-size: 80px;
  }
  @media (max-width: $bp-tablet) {
    font-size: 60px;
  }
}

.text-indent-block {
  font-size: 56px;
  line-height: 110.00000000000001%;
  letter-spacing: -4%;

  @media (max-width: $bp-desktop) {
    font-size: 40px;
    line-height: 100%;
  }
  @media (max-width: $bp-laptop) {
    line-height: 110%;
  }
  @media (max-width: $bp-tablet) {
    font-size: 32px;
  }

  &__firs-line {
    position: relative;
    padding-left: 265px;

    @media (max-width: $bp-desktop) {
      padding-left: 210px;
    }

    @media (max-width: $bp-tablet) {
      padding-left: 146px;
    }
  }
  &__icon {
    position: absolute;
    left: 0;
    &_date {
      top: 12px;

      @media (max-width: $bp-desktop) {
        max-width: 124px;
      }

      @media (max-width: $bp-tablet) {
        top: 4px;
      }
    }

    &_group {
      top: 4px;
      @media (max-width: $bp-desktop) {
        max-width: 68px;
      }
    }
  }
}

.line-table {
  display: grid;
  grid-template-columns: 1.2fr 1fr 150px;
  align-items: center;

  padding: 16px 0;
  border-bottom: 1px solid rgba($color: $dark-color, $alpha: 0.1);

  &:nth-child(1) {
    border-top: 1px solid rgba($color: $dark-color, $alpha: 0.1);
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1.3fr 1fr 110px;
  }

  @media (max-width: $bp-tablet) {
    display: block;
  }
}

.tag {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;

  font-size: 14px;
  line-height: 14px;
  letter-spacing: -4%;

  height: 30px;
  padding: 0 12px;
  border: 1px solid rgba($color: $dark-color, $alpha: 0.2);

  border-radius: 8px;

  &--white {
    background-color: #fff;
    border: none;
  }

  @media (max-width: $bp-tablet) {
    font-size: 12px;
  }
}
